@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mainTitles {
		@apply absolute top-20 md:top-24 uppercase tracking-[20px] text-gray-500 text-2xl xl:text-3xl;
	}
	.heroButton {
		@apply px-3 lg:px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
	}
	.contactInput {
		@apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
	}
}
